<!--
    Template que irá mostrar na tela as mensagens de usuários
    onde com as diretivas *ngFor traz todas as mensagens da lista e a 
    *ngIf posiciona de qual lado ficará tal informaçã (se for do usuário
    que está usando ou o que está se comunicando)
-->
<div>
    <div class="content border border-primary" style="overflow-y: scroll">
        <div *ngFor="let v of messageArray" style="clear:both">
            <div *ngIf="v.user === userName" style="float: left">
                <div class="card" style="width: 10rem;font-size: 12px">
                    <div class="card-body">
                        <p class="card-title text-primary">{{v.user}}</p>
                        <div *ngIf="v?.archive === false">
                            <p class="card-text">{{v.message}}</p>
                        </div>
                        <div *ngIf="v?.archive === true">
                            <img [src]="v.message" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="v.user !== userName" style="float: right">
                <div class="card" style="width: 10rem;font-size: 12px">
                    <div class="card-body">
                        <p class="card-title text-secondary">{{v.user}}</p>
                        <div *ngIf="v?.archive === false">
                            <p class="card-text">{{v.message}}</p>
                        </div>
                        <div *ngIf="v?.archive === true">

                            <img [src]="v.message" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ac-message-send [userName]="userName" [room]="room"></ac-message-send>
</div>