<!--
    Template do chat que irá ter os componentes
    filhos se interligando com o pai, junto com o HTML
    que será capaz de criar uma nova sala para o usuário e
    para ele entrar em uma sala.
-->
<div class="main-chat">
    <ac-message *ngIf="bool" [alert]="alert" [text]="message"></ac-message>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Room:</label>
        <div class="col-sm-4">
            <select name="" id="" class="form-control" [(ngModel)]="room" (change)="changeEvent()">
                <option value="" selected disabled>Selecione</option>
                <option *ngFor="let r of listRooms" [ngValue]="r.name">{{r.name}}</option>
            </select>
        </div>
        <button class="btn btn-sm btn-primary" [disabled]="hasJoin" (click)="joinRoom()">Join</button>
        <button class="btn btn-sm btn-secondary" [disabled]="!hasJoin" (click)="leave()">Leave</button>
    </div>

    <form class="form" [formGroup]="formRoom" (submit)="createRoom()">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">New Room:</label>
            <div class="col-sm-4">
                <input type="text" formControlName="name" class="form-control">
            </div>
            <button class="btn btn-sm btn-primary" type="submit">Create</button>
        </div>
    </form>
    <ac-content class="mx-auto" [userName]="userName" [room]="room" [hasJoin]="hasJoin"></ac-content>
</div>