<div class="main-chat">
    <ac-message *ngIf="bool" alert="alert" text="message"></ac-message>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Room:</label>
        <div class="col-sm-4">
            <select name="" id="" class="form-control" [(ngModel)]="room">
                <option value="" selected disabled>Selecione</option>
                <option value="teste">Teste</option>
            </select>
        </div>
        <button class="btn btn-primary" (click)="joinRoom()">Join</button>
        <button class="btn btn-primary" (click)="leave()">Leave</button>
    </div>

    <form class="form" [formGroup]="formRoom">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">New Room:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
    <ac-content class="mx-auto"></ac-content>
</div>