<div class="register">
    <h4 class="text-center">Register</h4>
    <hr>
    <form [formGroup]="registerForm" class="form mt-4" (submit)="register()">
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email">
            <ac-message *ngIf="registerForm?.get('email').errors?.required" alert="danger" text="Email Required">
            </ac-message>
            <ac-message *ngIf="registerForm?.get('email').errors?.email" alert="danger" text="Invalid Email">
            </ac-message>
        </div>
        <div class="form-group">
            <label for="inputUserName">User Name</label>
            <input type="text" formControlName="userName" name="" id="inputUserName" class="form-control"
                placeholder="User Name">
            <ac-message *ngIf="registerForm?.get('userName').errors?.required" alert="danger" text="User Name Required">
            </ac-message>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" formControlName="password" name="" id="inputPassword" class="form-control"
                placeholder="Password">
            <ac-message *ngIf="registerForm?.get('password').errors?.required" alert="danger" text="Password Required">
            </ac-message>
        </div>
        <div class="form-group">
            <label for="inputConfirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" name="" id="inputConfirmPassword"
                class="form-control" placeholder="Confirm Password">
            <ac-message *ngIf="registerForm?.get('confirmPassword').errors?.required" alert="danger"
                text="Confirm Password Required">
            </ac-message>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>